.loading {
    width: 100px;
    height: 100px;
    border: 2px solid #cf168559;
    border-top-color: #cf1685;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 70%;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}