/* *:not(.btn){
	margin: unset;
	padding: unset;
	border: unset;
	font-size: 100%;
	font: unset;
	vertical-align: unset;
} */




@import url('animations.css');

body {
    background-color: #14151b;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: aliceblue;
}

#titulo {
    /* margin-right: 30%; */
    width: 65%;
    padding-left: 1%;
    font: 60px 'Segoe UI';
    color: #dec20b/*rgb(230, 99, 24)*/;
    background-color: #801655;/*rgb(7, 10, 179) */
    border-radius: 7px;
}

#news {
    width: 45%;
    height: 18vw;
    margin-bottom: 10%;
    margin-left: 30px;
    padding: 10px;
    background-color: #2a2c36;
    border-radius: 5px;
}

#acesso {
    width: 200px;
    height: 104px;
    margin-left: 70%;
}

.entrada {
    background-color: #2a2c36;
    border-color: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
}

#tela_dados {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}